<title>Find the richest</title>
  <h1>Game is over!</h1>
  <h2>Let's find the richest among players:</h2>
  <h3>(Please enter the players' names, coins, and gemstones earned on the same row:)</h3>
  
    Richest is {{richest}}

  <form action="compute" method="post">
  	<label for="input1">Player names:</label>
        <textarea name="input1" rows="20" cols="30"></textarea>
        <label for="input2">Coins:</label>
        <textarea name="input2" rows="20" cols="30"></textarea>
        <label for="input3">Gemstones:</label>
        <textarea name="input3" rows="20" cols="30"></textarea>
        <label for="input4">One gemstones value:</label>
        <textarea name="input4" rows="20" cols="30"></textarea>
        <br>
        <br>
        <input type="submit">
  </form>

